body {
  background: #FFFFFF;
  text-shadow: 0.5px 0.5px 0 #CCCCCC;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.75s;
}

.nav {
  padding: 0px;
  width: 320px; /* Reduce the width */
  margin: 80px auto auto auto; /* Adjust the margin */
}

ul {
  list-style-type: none;
}

li a {
  padding: 15px; /* Reduce the padding */
  float: left;
  width: 60px; /* Reduce the width */
  text-align: center;
  font-size: 10px; /* Reduce the font size */
  text-decoration: none;
}

li a:hover .circle {
  position: relative;
  z-index: 1;
  top: -30px; /* Reduce the top position */
  width: 40px; /* Reduce the width */
  height: 40px; /* Reduce the height */
  border-radius: 100%;
  animation: illuminate 2s ease-out infinite;
  background: #fdc6be;
}

li i {
  height: 30px; /* Reduce the icon size */
}

li a:hover i {
  transform: translateY(-5px); /* Reduce the transform distance */
}

li a .title {
  font-size: 0px;
}

li a:hover .title {
  transform: translateY(5px); /* Reduce the transform distance */
  font-size: 10px; /* Reduce the font size */
  transition: 0.5s;
}

li a.title:hover {
  transform: translateY(-5px); /* Reduce the transform distance */
}

.nav li:first-child a {
  background: #EDE7DC !important;
}

.nav li:nth-child(2) a {
  background: #DCD2CC !important;
}

.nav li:nth-child(3) a {
  background: #EED6D3 !important;
}

.nav li:nth-child(4) a {
  background: #CCAFA5 !important;
}

.nav li:nth-child(5) a {
  background: #99a09c !important;
}

.nav li:first-child:hover ~ .background {
  background: #EDE7DC;
}

.nav li:nth-child(2):hover ~ .background {
  background: #DCD2CC;
}

.nav li:nth-child(3):hover ~ .background {
  background: #EED6D3;
}

.nav li:nth-child(4):hover ~ .background {
  background: #CCAFA5;
}

.nav li:nth-child(5):hover ~ .background {
  background: #a7adaa;
}

@keyframes illuminate {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}
