/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #f7f6f1;
opacity: 1;
background-image:  linear-gradient(#fcecef 2.9000000000000004px, transparent 2.9000000000000004px), linear-gradient(to right, #fcecef 2.9000000000000004px, #f7f6f1 2.9000000000000004px);
background-size: 58px 58px; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
h1.mariya{
  
  /* font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px; 
  letter-spacing: 3px;
  cursor: pointer
}
h1.mariya span.span{
  transition: .5s linear
}
h1.mariya:hover span.span:nth-child(1){
  margin-right: 5px
}
h1.mariya:hover span.span:nth-child(1):after{
  content: "about";
   display: inline-block;
  font-size: 50px;
  font-weight: normal
}
h1.mariya:hover span.span:nth-child(2){
  margin-left: 30px
}
h1.mariya:hover span.span{
  color: #000
;
text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

span.about{
  color: #000
  ;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
   display: inline-block;
  font-size: 50px;
  font-weight: normal
}
a */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Hi+Melody&family=Inconsolata:wght@400;500&family=Oleo+Script:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:  #f9c5d1;
  color:#2d325b ; */
  background-color: white;
  color: black;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.mariya{
  cursor: pointer;
  font-size: 20vh;
}



/* .flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* CARD COMPONENT */

.card {
  display: grid;
  place-items: center;
  width: 80vw;
  max-width: 21.875rem;
  height: 22.5rem; /* Updated height to make the card smaller */
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.card > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card__background {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.card__content {
  --flow-space: 0.9375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 55%;
  padding: 12% 1.25rem 1.875rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(190, 131, 131, 0.25);
}

.card__content--container {
  --flow-space: 1.25rem;
}

.card__title {
  position: relative;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
}

.card__title::after {
  content: "";
  position: absolute;
  height: 0.3125rem;
  width: calc(100% + 1.25rem);
  bottom: calc((1.25rem - 0.5rem) * -1);
  left: -1.25rem;
}

.card__button {
  padding: 0.75em 1.6em;
  width: fit-content;
  width: -moz-fit-content; /* Prefijo necesario para Firefox  */
  font-variant: small-caps;
  font-weight: bold;
  border-radius: 0.45em;
  border: none;
  font-size: 1.125rem;
}

.card__button:focus {
  outline: 2px solid black;
  outline-offset: -5px;
}


@media (any-hover: hover) and (any-pointer: fine) {
  .card__content {
    transform: translateY(62%);
    transition: transform 500ms ease-out;
    transition-delay: 500ms;
  }

  .card__title::after {
    opacity: 0;
    transform: scaleX(0);
    transition: opacity 1000ms ease-in, transform 500ms ease-out;
    transition-delay: 500ms;
    transform-origin: right;
  }

  .card__background {
    transition: transform 500ms ease-in;
  }

  .card__content--container > :not(.card__title),
  .card__button {
    opacity: 0;
    transition: transform 500ms ease-out, opacity 500ms ease-out;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
    transition: transform 500ms ease-in;
  }

  .card:hover .card__content,
  .card:focus-within .card__content {
    transform: translateY(0);
    transition: transform 500ms ease-in;
  }

  .card:focus-within .card__content {
    transition-duration: 0ms;
  }

  .card:hover .card__background,
  .card:focus-within .card__background {
    transform: scale(1.3);
  }

  .card:hover .card__content--container > :not(.card__title),
  .card:hover .card__button,
  .card:focus-within .card__content--container > :not(.card__title),
  .card:focus-within .card__button {
    opacity: 1;
    transition: opacity 500ms ease-in;
    transition-delay: 1000ms;
  }

  .card:hover .card__title::after,
  .card:focus-within .card__title::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: opacity 500ms ease-in, transform 500ms ease-in;
    transition-delay: 500ms;
  }
} */




/* h1.mariya:hover span.span{
  color: #000;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}

span.about{
  color: #000;
  text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
  display: inline-block;
  font-size: 50px;
  font-weight: normal;
} */



span.about {
 
 
  display: inline-block;
  font-size: 40px;
  
}


@media (max-width: 640px) {
  h1.mariya {
    font-size: 3rem;
  }
  

  /* span.about {
    font-size: 3rem;
  } */
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  div > div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  div > div:first-child {
    margin-top: 0;
  }
}
/* .about-container.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */

@media (min-width: 768px) {
  .mariya {
    font-size: 13vw;
  
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) {
  /* CSS styles go here */
  
  span.about {
    /* color: #7D776C;
    text-shadow: 0 0 3px rgba(125, 119, 108, 0.7), 0 0 3px rgba(125, 119, 108, 0.7), 0 0 3px rgba(125, 119, 108, 0.7); */
    /* display: inline-block; */
    /* font-size: 50px; */
   
  }
}
.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.connect a {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  .connect {
    flex-direction: row;
    justify-content: center;
  }
}
@keyframes move {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.animate path {
  animation: move 1s ease-in-out forwards;
}
/* .active {
    text-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
  } */
  
  .active {
    text-shadow: 0 0 4px #FFF;
  }
  
  .laptopImage {
    position: relative;
    z-index: 2;
  }
  
  .text {
    position: absolute;
    z-index: 1;
  }
  /* .circle {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ffc600, #ff6b6b, #ad00ff);
    filter: blur(30px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    animation: rotate 20s linear infinite, color-change 10s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes color-change {
    0% {
      background: linear-gradient(135deg, #ffc600, #ff6b6b, #ad00ff);
    }
    50% {
      background: linear-gradient(135deg, #ff6b6b, #ad00ff, #ffc600);
    }
    100% {
      background: linear-gradient(135deg, #ad00ff, #ffc600, #ff6b6b);
    }
  }
  
   */
   /* .circle {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ffc600, #ff6b6b, #ad00ff);
    filter: blur(30px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    transition: background 1s ease-in-out;
    animation: rotate 20s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
 
   */

   .circle {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(135deg, #ffc600, #ff6b6b, #ad00ff);
    filter: blur(30px);
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.2);
    transition: background 1s ease-in-out;
    animation: rotate 20s linear infinite;
    z-index: 0;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .circle:hover {
    background: linear-gradient(135deg, #ad00ff, #ffc600, #ff6b6b);
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 5px 5px gray 
  }

.container .card .icon {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: #2c73df;

}

.container .card .icon .fa {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 80px;

    color: #fff;

}

.container .card .slide {

    width: 300px;

    height: 200px;

    transition: 0.5s;

}

.container .card .slide.slide1 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1;

    transition: .7s;

    transform: translateY(100px);

}

.container .card:hover .slide.slide1{

    transform: translateY(0px);

}

.container .card .slide.slide2 {

    position: relative;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    box-sizing: border-box;

    transition: .8s;

    transform: translateY(-100px);

    box-shadow: 0 20px 40px rgba(0,0,0,0.4);

}

.container .card:hover .slide.slide2{

    transform: translateY(0);

}

.container .card .slide.slide2::after{

    content: "";

    position: absolute;

    width: 30px;

    height: 4px;

    bottom: 15px;

    left: 50%;

    left: 50%;

    transform: translateX(-50%);

    background: #2c73df;

}

.container .card .slide.slide2 .content p {

    margin: 0;

    padding: 0;

    text-align: center;

    color: #414141;

}

.container .card .slide.slide2 .content h3 {

    margin: 0 0 10px 0;

    padding: 0;

    font-size: 24px;

    text-align: center;

    color: #414141;

} 

.slide-in{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba( 0, 0, 0, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transform-origin: bottom;
  

}

.slide-out{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba( 0, 0, 0, 0.8 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  transform-origin: top;

}

